@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "~bootstrap";

@import "~vue-cookieconsent-component/src/scss/cookie-consent-variables";
@import "~vue-cookieconsent-component/src/scss/cookie-consent-bottom";
@import "~vue-cookieconsent-component/src/scss/cookie-consent-transition";

$cookieconstent-compliance-background: black !important;
$cookieconstent-background: rgba(black, 0.8);
// $cookieconstent-compliance-border: 1px;
@import "~vue-cookieconsent-component/src/scss/cookie-consent";

$primary-color: #004d40ff;
$alert-color: #b45f06;
$text-color: #343A3F;
$background-color: #e9ecefff;

// main
body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  // font-family: "Titillium Web", sans-serif;
  color: $text-color;
  background-color: $background-color !important;
}

* {
  box-sizing: border-box;
}

// headers
h1 {
  font-weight: 700 !important;
  color: $primary-color !important;
}

h2 {
  font-size: 1.5rem !important;
}

h3 {
  color: $primary-color !important;
}


.callout {
  font-weight: 700 !important;
  color: $gray-800 !important;
  font-size: 2.5rem !important;
}

.callout strong {
  color: $alert-color !important
}

// cookie consent
.cookie-consent-message {
  color: $light !important;
}

.cookie-consent-compliance {
  border-radius: 20px !important;
  // background-color: darkgreen !important;
}

.cookie-consent-compliance:hover {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  border-radius: 20px !important;
}

.cookie-consent {
  padding: 0px;
}

// .bg-image {
//   /* The image used */
//   background-image: url('https://ik.imagekit.io/elementone/h-ng-c-h-i-UgUeJnWlV_w-unsplash.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1673274514797');
//   background-color: rgba(0, 0, 0, .35);
//   background-blend-mode: darken;

//   /* Full height */
//   height: 250px;

//   /* Center and scale the image nicely */
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.home-cta {
  background-color: $background-color !important;
  border: 0px;
  border-radius: 0;
}

// bring main card into focus in centre of screen
.home-cta {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  background-color: $primary-color !important;
  
}

.footer .navbar-text {
  color: $background-color !important; 
}

.btn-dark:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

a {
  color: $text-color;
}

a:hover {
  color: $primary-color;
}


.btn {
  border-radius: 20px !important;
}

.faces {
  max-height: 200px;
  border-radius: 100px !important;
  border-width: 8px;
  border-style: solid !important;
  border-color: $gray-800 !important;
}

input {
  border-radius: 0px !important;
}

.parallax {
  /* The image used */
  background-image: url('https://ik.imagekit.io/elementone/background-image.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1673962746686');

  /* Set a specific height */
  min-height: 150px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

// disable parallax on mobile
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

@mixin make-container($padding-x: $container-padding-x) {
  width: 85%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

// Usage
.container {
  @include make-container();
}