@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

@import "~bootstrap";

@import "~vue-cookieconsent-component/src/scss/cookie-consent-variables";
@import "~vue-cookieconsent-component/src/scss/cookie-consent-bottom";
@import "~vue-cookieconsent-component/src/scss/cookie-consent-transition";

$cookieconstent-compliance-background: black !important;
$cookieconstent-background: rgba(black, 0.8);
// $cookieconstent-compliance-border: 1px;
@import "~vue-cookieconsent-component/src/scss/cookie-consent";

$primary-color: #004d40ff;
$alert-color: #b45f06;
$text-color: #343A3F;
$background-color: #e9ecefff;
$accent-color: #69A64E;

// main
body, html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  // font-family: "Titillium Web", sans-serif;
  color: $text-color;
  background-color: $background-color !important;
}

* {
  box-sizing: border-box;
}

.header-gradient {
  background: linear-gradient($accent-color, $primary-color);
  height: 340px;
  margin-top: -340px;
}

.jumbotron {
  background: $primary-color;
  color: $background-color !important;
}

.jumbotron .h1 {
  color: $background-color !important;
}

.header {
  color: $primary-color;
}

.header-negative {
  color: $background-color;
}

// headers
h1 {
  font-weight: 700 !important;
  // color: $primary-color;
}

h2 {
  font-size: 2rem !important;
  font-weight: 500 !important;
}

h3 {
  color: $primary-color !important;
}

.fa-circle-play {
  color: $background-color;
}

.fa-circle-play:hover {
  color: $accent-color;
}

.callout {
  font-weight: 700 !important;
  color: $gray-800 !important;
  font-size: 2rem !important;
}

.callout strong {
  color: $alert-color !important;
}

.alert-small {
  color: $alert-color !important;
}

// cookie consent
.cookie-consent-message {
  color: $light !important;
}

.cookie-consent-compliance {
  border-radius: 20px !important;
  // background-color: darkgreen !important;
}

.cookie-consent-compliance:hover {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
  border-radius: 20px !important;
}

.cookie-consent {
  padding: 0px;
}

// bring main card into focus in centre of screen
.home-cta {
  background-color: $background-color !important;
  border: 0px;
  border-radius: 0;
  position: -webkit-sticky;
  position: sticky;
  top: -240px;
  z-index: 99999;
  margin: 0 auto;
  height: 340px;
  width: 300px;
}

.footer {
  background-color: $primary-color !important;
  
}

.footer .navbar-text {
  color: $background-color !important; 
}

.btn-dark:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}

a {
  color: $text-color;
}

a:hover {
  color: $primary-color;
}


.btn {
  border-radius: 20px !important;
}

.faces {
  max-height: 200px;
  border-radius: 100px !important;
  border-width: 8px;
  border-style: solid !important;
  border-color: $gray-800 !important;
}

input {
  border-radius: 0px !important;
}

.energy-block {
  background-image: url('https://ik.imagekit.io/elementone/linus-nylund-At_r0TuqL8o-unsplash.jpg?updatedAt=1686068937303');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.energy-block .card {
  border-radius: 0;
  border: none;
  background-color: rgba($white, 0.8);
  color: $text-color;
}

.tech-highlight-block {
  background-image: url('https://ik.imagekit.io/elementone/sergei-a--heLWtuAN3c-unsplash.jpg?updatedAt=1686065374948');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.tech-highlight-block .card {
  border-radius: 0;
  border: none;
  background-color: rgba($white, 0.8);
  color: $text-color;
}

.parallax {
  /* The image used */
  background-image: url('https://ik.imagekit.io/elementone/background-image.webp?ik-sdk-version=javascript-1.4.3&updatedAt=1673965403739');
  /* Set a specific height */
  min-height: 150px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

// disable parallax on mobile
@media (any-pointer: coarse) {
  .parallax {
    background-attachment: scroll;
  }
}

@mixin make-container($padding-x: $container-padding-x) {
  width: 85%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

// Usage
.container {
  @include make-container();
}

// product card
.product-card .card {
  border-radius: 0;
  border: none;
  background-color: $primary-color;
  --bs-card-color: #e9ecefff;
}

.progress {
  border-radius: 0;
  --bs-progress-height: 1.5rem;
  --bs-progress-bar-bg: #69A64E;
  --bs-progress-bar-color: $background-color;
}